html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
	display: block


body
	line-height: 1


ol, ul
	list-style: none

a 
	text-decoration: none

blockquote, q 
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after 
	content: ''
	content: none

table 
	border-collapse: collapse
	border-spacing: 0

*
	margin: 0
	padding: 0
	box-sizing: border-box

img
	max-width: 100%
	height: auto

body
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	color: #787878
	box-sizing: border-box
	overflow-x: hidden

.hidden
	display: none


/*deafult style begin*/
.content_block
	max-width: 1200px
	padding: 0 10px
	margin: 0 auto
.clearfix
	&:after
		content: ""
		display: table
		clear: both
.sprite
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 10px
		background: url(../img/sprite.png) 0 0
.transition	
	-webkit-transition: all 0.15s ease-out
	-moz-transition: all 0.15s ease-out
	transition: all 0.15s ease-out			
.green_link
	color: #86b258	
	display: block
	text-align: center
	text-decoration: underline
	margin-top: 10px
	@extend .transition
	&:hover
		color: #484848								
/*deafult style end*/













/*deafult style begin*/

/*deafult style end*/